[default]
BeginString=FIX.4.2
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=15:00:00
UseDataDictionary=Y
DataDictionary=FIX42.xml
SocketConnectHost=10.101.237.68
SocketConnectPort=6605
EnableLastMsgSeqNumProcessed=Y
LogoutTimeout=5
RequestThread =1
#ResetOnLogon=Y

[session]
SenderCompID=PILOT_CLIENT2
TargetCompID=CSC_DSA
HeartBtInt=30


